{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 200],
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "linebreak-style": ["error", "windows"],
    "no-unused-expressions": 0
  }
}